.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    top: 50%;
    left: 50px;
    right: 50px;
    transform: translateY(-50%);
    color: white;
    z-index: 2;
    max-width: 600px;
}

.content h1 {
    margin: 0;
    font-size: 4rem;
}

.content span {
    color: rgb(255, 128, 0);
}

.content p {
    margin-top: 15px;
    font-size: 1.1rem;
    color: rgb(226, 226, 226);
}

.black-banner {
    position: absolute;
    width: 100%;
    height: 180px;
    top: 100%;
    transform: translateY(-110%);
    z-index: 1;
}

.details-css {
    color: rgb(234, 234, 234);
}

.bg-imge {
    background: rgba(0, 0, 0, 0.289) url("bg-images/8d1ea829d216ef05d3ad69313622e409f40a9ffa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100cap;
    filter: blur(5px);
    background-blend-mode: darken;
}